.contentRegister{
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: 100%;
    text-align: center;
    background-color: #7f53ac;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    color:rgb(255, 255, 255);
}
.nav{
    position:absolute;
    left:0px;
}

.btn_register{
    color: rgb(163, 133, 94);
    text-decoration: none;
    background-color: aliceblue;
    padding: 12px;
    border-radius: 20px;
    width: 50px;
    color: aliceblue;
    margin-top: 190px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);

}

.register :nth-child(n){
    margin-top: 10px;
}



.errormsg{
    position: absolute;
    opacity: 1;
    transition: opacity 2s ease-in;
    left: 45%;
    font-size: 20px;
    text-align: center;
    top: 50%;
    color: rgb(196, 36, 36);
    background-color: aliceblue;
    border-radius: 20px;
    z-index: 5;
    width: 300px;
}